img{
    width: 100%;

}



.introduction{
    position: relative;
    right: 100px;
}

.hero-image{
    background-image: url("../images/download.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    width: 100%;
}

.main-image{
    grid-area: auto;
    background-image: url("../images/Overwatch-2-review-header.webp");
    height: 700px;
    width: 1332px;
    background-repeat: no-repeat;
}

body{
    background-color: black;

}

.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: white;
}



.character{
    grid-area: 1;
    width: 100%;
    background-repeat: no-repeat;
}



.container-2{
    margin: 150px;
    gap: 150px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    color: white;
}
